{% extends 'base.html' %}

{% block conteudo %}
    <h1 class="display-3">CADASTROS</h1>
    <hr>


<div class="container">        
    <div class="row justify-content-center">            
        <div class="col-md-6 text-center">                           
            <a class="nav-link" href="{{url_for('cadastro_produtos')}}">
                <button type="submit" class="btn btn-outline-primary text-black" value="CADASTROS" id="btn_produtos">
                    <img class="img_menu" src="../static/products.png" alt="buttonpng">
                    <p  class="text-black">PRODUTOS</p>
                </button>        
            </a>        
        </div>  
        <div class="col-md-6 text-center">
            <a class="nav-link" href="{{url_for('cadastro_clientes')}}">         
                <button type="submit" class="btn btn-outline-primary text-black" value="CONSULTAS" id="btn_clientes">
                    <img class="img_menu" src="../static/clientes.png" alt="buttonpng">
                    <p  class="text-black">CLIENTES</p>
                </button> 
            </a>         
        </div>  
        <div class="col-md-6 text-center">
            <a class="nav-link" href="{{url_for('cadastro_fornecedores')}}">              
                <button type="submit" class="btn btn-outline-primary text-black" value="SUPORTE" id="btn_fornecedores" style="margin-top: 40px;">
                    <img class="img_menu" src="../static/fornecedor.png" alt="buttonpng">
                    <p  class="text-black">FORNECEDORES</p>
                </button> 
            </a>       
        </div>  
    </div>
</div>


<style>
#btn_produtos, #btn_clientes, #btn_fornecedores {
    background: linear-gradient(145deg, #eae7eb, #d1cbcc); /* Degradê leve */
    border: none;
    border-radius: 8px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
    cursor: pointer;
    text-align: center;
    color: white;
}

.img_menu {
    width: 90px; /* Tamanho ajustado das imagens */
    height: 90px;
    margin-bottom: 15px;
}

.btn p {
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
  transform: scale(1.05); /* Efeito de hover */
}
</style>


{% endblock conteudo %}
