{% extends 'base.html' %}

{% block conteudo %}
    <h1 class="display-3">CONSULTAR VENDAS</h1>
    <hr>

<p class="lead text-center ">FILTROS</p>

<form action="{{url_for('consulta_vendas_filtros')}}" method="POST" autocomplete="off" enctype="multipart/form-data" style="display:inline-block;">
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="margin-right: 10px; text-align: center;">
            <label for="datainicio">Data Inicial</label>
            <input type="date" class="text-center" id="datainicio" name="datainicio" style="width: 426px;" value="{{datainicial}}" required>
        </div>
        <div style="margin-right: 10px; text-align: center;">
            <label for="datafim">Data Final</label>
            <input type="date" class="text-center" id="datafim" name="datafim" style="width: 426px;" value="{{datafinal}}" required>
        </div>
        <div style="text-align: center;">
            <label for="filtro_produto">Produto</label>
            <input list="produtos" class="text-center" id="filtro_produto" name="filtro_produto" style="width: 426px;" value="{{produto}}" placeholder="Selecione um produto">
            <datalist id="produtos">
                {% for produto in lista_produtos %}
                    <option>{{ produto[0] }}</option>
                {% endfor %}
            </datalist>
        </div>
    </div>
    <div style="text-align: center; margin-top: 15px;">
        <input type="submit" value="Consultar" class="btn btn-success">
    </div>
</form>




<br><br>


<div class="container">        
    <div class="row">         
        <div class="table-container"> 
            <table class="table table-striped" id="tabela">
                <thead>
                    <tr>
                    <th scope="col" class="coluna">Código Venda</th>
                    <th scope="col">Data da venda</th>
                    <th scope="col">Forma Pagamento</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Total da venda</th>
                    <th scope="col">Status da venda</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas_mes %}
                    <tr>
                        <th scope="row">{{venda[0]}}</th>
                        <td>{{venda[1]}}</td>
                        <td>{{venda[2]}}</td>
                        <td>{{venda[3]}}</td>
                        <td>{{venda[4]}}</td>
                        <td>{{venda[5]}}</td>
                        <td>
                            <form action="{{url_for('visualizar_venda_main')}}" method="POST" autocomplete="off" enctype="multipart/form-data" style="display:inline-block;">
                                <input type="hidden" name="codigo" id="codigo" value="{{ venda[0] }}">
                                <button type="submit" class="btn btn-info">Visualizar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br><br><br>

<style>
.table-container {
    max-height: 700px; /* Ajuste conforme necessário */
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

th, td {
    text-align: center; /* Alinha o texto horizontalmente ao centro */
}

tbody tr {
  vertical-align: middle; /* Alinha o texto verticalmente ao centro */
}

</style>


<script>
    function handleDatalist(inputId, datalistId) {
    const input = document.getElementById(inputId);
    const datalist = document.getElementById(datalistId);
    const allOptions = datalist.innerHTML;  // Guarda todas as opções geradas pelo Jinja

    // Inicialmente remove todas as opções do datalist
    datalist.innerHTML = '';

    // Quando o usuário começar a digitar
    input.addEventListener('input', function() {
        // Adiciona as opções novamente quando houver entrada
        if (input.value.length > 0) {
            datalist.innerHTML = allOptions;
        } else {
            // Remove as opções se o campo de entrada estiver vazio
            datalist.innerHTML = '';
        }
    });
}

// Aplicar a função para o primeiro input e datalist
    handleDatalist('filtro_produto', 'produtos');

</script>

{% endblock conteudo %}
