{% extends 'base.html' %}
{% block conteudo %}
<img class="img_marlene" src="../static/marleneecamilo.jpg" alt="logo">
<hr>

<div class="containers">
    <div class="card">
      <div class="image-text">
        <img src="https://cdn.icon-icons.com/icons2/514/PNG/512/shop_icon-icons.com_51010.png" alt="Imagem 1">
        <div class="text-container">
          <p class="top-text">Vendas do Mês</p>
          <p class="bottom-text">R$ {{total_mensal}}</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="image-text">
        <img class="img_header" src="https://cdn.pixabay.com/photo/2013/07/13/12/49/group-160427_1280.png" alt="Imagem 2">
        <div class="text-container">
          <p class="top-text">Total de clientes</p>
          <p class="bottom-text">{{total_clientes}} Clientes</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="image-text">
        <img src="https://cdn.icon-icons.com/icons2/943/PNG/512/shoppaymentorderbuy-11_icon-icons.com_73850.png" alt="Imagem 3">
        <div class="text-container">
          <p class="top-text">Ticket médio</p>
          <p class="bottom-text">R$ {{ticket_medio}}</p>
        </div>
      </div>
    </div>

    <div class="card">
        <div class="image-text">
          <img src="../static/low.png" alt="Imagem 3">
          <div class="text-container">
            <p class="top-text">Total de produtos com estoque crítico</p>
            <p class="bottom-text">{{qtd_produtos_estoque_critico}} Produtos</p>
          </div>
        </div>
      </div>
</div>

<br>

<div class="container">        
    <div class="row">            
        <div class="col-md-6">
            <a class="nav-link" href="{{url_for('nova_venda')}}">
            <button type="submit" class="btn btn-outline-primary text-black" value="NOVA VENDA" id="btn_nova_venda">
                <img class="img_menu" src="../static/nova-venda.png" alt="buttonpng">
                <p class="text-black">NOVA VENDA</p>
            </button>  
            </a>          
        </div>  
            
        <div class="col-md-6">
            <a class="nav-link" href="{{url_for('cadastro_main')}}">             
              <button type="submit" class="btn btn-outline-primary text-black" value="CADASTROS" id="btn_cadastros">
                  <img class="img_menu"  src="../static/register.png" alt="buttonpng">
                  <p class="text-black">CADASTROS</p>
              </button>     
            </a>   
        </div>  
    </div>
</div>
<br>

<div class="container">        
    <div class="row">            
        <div class="col-md-6">  
            <a class="nav-link" href="{{url_for('consulta_main')}}">         
                <button type="submit" class="btn btn-outline-primary text-black" value="CONSULTAS" id="btn_consultas">
                    <img class="img_menu" src="../static/search.png" alt="buttonpng">
                    <p class="text-black">CONSULTAS</p>
                </button> 
            </a>         
        </div>  
        
        <div class="col-md-6">
          <a class="nav-link" href="{{url_for('relatorios_main')}}">               
            <button type="submit" class="btn btn-outline-primary text-black" value="RELATÓRIOS" id="btn_suporte">
                <img class="img_menu" src="../static/monitor.png" alt="buttonpng">
                <p class="text-black">RELATÓRIOS</p>
            </button>
          </a>      
        </div>  
    </div>
</div>

<br>

<div class="container">        
    <div class="row">            
        <div class="col-md-12 text-center">  <!-- Alinhamento central -->
            <a class="nav-link" href="{{url_for('suporte')}}">         
                <button type="submit" class="btn btn-outline-primary text-black" value="SUPORTE" id="btn_suporte_novo">
                    <img class="img_menu" src="../static/support.png" alt="buttonpng">
                    <p class="text-black">SUPORTE</p>
                </button> 
            </a>         
        </div>  
    </div>
</div>

<style>
.img_marlene {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 150px;
    margin-top: -10px;
    margin-bottom: -50px;
}

.containers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background: linear-gradient(145deg, #eae7eb, #d1cbcc); /* Degradê suave */ /* Cor de fundo mais suave */
    border: 3px solid #5a6068; /* Cor da borda mais suave */
    border-radius: 8px;
    padding: 10px;
    width: 30%;
    transition: transform 0.3s; /* Animação de hover */
}

.card:hover {
    transform: translateY(-5px); /* Levanta o card ao passar o mouse */
}

.image-text {
    display: flex;
    align-items: flex-start;
}

img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-text {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
}

.bottom-text {
    color: #555;
    font-size: 16px;
    margin-bottom: 5px;
}

#btn_nova_venda, #btn_cadastros, #btn_consultas, #btn_suporte, #btn_suporte_novo {
    background: linear-gradient(145deg, #eae7eb, #d1cbcc); /* Degradê suave */
    border: none;
    border-radius: 8px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
    cursor: pointer;
    text-align: center;
    color: white;
}

.img_menu {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.btn p {
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    transform: scale(1.01); /* Efeito de hover */
    color: white;
}
</style>

{% endblock conteudo %}
