{% extends 'base.html' %}
{% block conteudo %}
    <h1 class="display-3">NOVA VENDA #{{nvenda[0][0]}}</h1>
    <input type="hidden" value="{{nvenda[0][0]}}" id="inputnvenda" name="inputnvenda">
    <hr>

<div class="container">        
    <div class="row">            
        <div class="col-md-6">
            <p class="lead text-center ">INFORMAÇÕES DA VENDA</p>   
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputdatavenda">Data da venda</label>
                    <input type="date" class="form-control" id="inputdatavenda" value={{data_atual}}>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputdataentrega">Data da entrega</label>
                    <input type="date" class="form-control" id="inputdataentrega" value={{data_atual}}>
                </div>
            </div>        
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputmetodopagamento">Método de pagamento</label>
                    <select id="inputmetodopagamento" class="form-control">
                        <option selected>...</option>
                        <option>Cartão Débito</option>
                        <option>Cartão Crédito</option>
                        <option>Dinheiro</option>
                        <option>PIX</option>
                        <option>Boleto</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputenderecoentrega">Endereço de entrega</label>
                    <input type="text" class="form-control" id="inputenderecoentrega" autocomplete="off" placeholder="Nome da rua, nº e bairro">
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputtaxaentrega">Taxa de entrega</label>
                    <input type="text" class="form-control" id="inputtaxaentrega" autocomplete="off" onkeypress='validate(event)' placeholder="0,00" >
                </div>
                <div class="form-group col-md-6">
                    <label for="inputdesconto">Desconto</label>
                    <input type="text" class="form-control" id="inputdesconto" autocomplete="off" placeholder="0,00" onkeypress='validate(event)' >
                </div>
            </div>   
            <div class="form-group col-md-12">
                <label for="inputobservacoes">Observações</label>
                <textarea class="form-control" id="inputobservacoes" autocomplete="off" rows="4"></textarea>
            </div>            
        </div>
        
        <div class="col-md-6" style="border-left: 1px solid rgb(0, 0, 0);">                
            <p class="lead text-center">INFORMAÇÕES DO CLIENTE</p>
            <div class="form-group col-md-12">
                <label for="inputnome">Nome</label>
                <input list="options_clientes" id="inputnome" autocomplete="off" name="inputnome" oninput="buscarCliente()" onkeyup="buscarCliente()" class="form-control" placeholder="Digite para exibir sugestões"/>
                    <datalist id="options_clientes">
                        {% for cliente in clientes %}
                        <option>{{ cliente[0] }}</option>
                        {% endfor %}
                    </datalist>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="inputcpfcnpj">CPF/CNPJ</label>
                    <input type="text" class="form-control" id="inputcpfcnpj" autocomplete="off" placeholder="9999999999">
                </div>                
            <input type="hidden" name="idcliente" id="idcliente">            
                <div class="form-group col-md-6">
                    <label for="inputtelefone">Telefone</label>
                    <input type="text" class="form-control" id="inputtelefone" autocomplete="off" placeholder="(99) 99999-9999">
                </div>
            </div>
            <br>
            <div class="row">   
                <div class="col-md-12">
                    <p class="lead text-center">INFORMAÇÕES DO PRODUTO</p>
                    <div class="form-row">
                        <form method="POST" id="form_product" autocomplete="off">
                            <div class="form-group col-md-12">
                                <label for="inputproduto">Produto</label>
                                <input list="options" id="inputproduto" name="inputproduto" oninput="buscarValorUnitario()" class="form-control" placeholder="Digite para exibir sugestões"/>
                                    <datalist id="options">
                                        {% for produto in lista_produtos %}
                                        <option>{{ produto[0] }}</option>
                                        {% endfor %}
                                    </datalist>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="inputquantidade">Quantidade</label>
                                    <input type="text" class="form-control" id="inputquantidade" name="inputquantidade" onkeypress='validate(event)' placeholder="0">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputvalorunitario">Valor unitário</label>
                                    <input type="text" class="form-control" id="inputvalorunitario" name="inputvalorunitario", onkeypress='validate(event)' placeholder="0,00">
                                </div>
                            </div>
                            <input type="hidden" name="idproduto" id="idproduto">
                            <br>
                            <div class="d-flex justify-content-center">                        
                                <button type="submit" class="btn btn-outline-dark">Adicionar produto</button>                        
                            </div>
                        </form>
                    <br>
        
                    <ul class="list-group" id="main_list">                
                    </ul class="list-group">
        
        </div>
    </div>
</div>

<div class="container">
    </div>
        </div>
            </div>
        </div>
        <hr>
    </div>
</div>




<form method="POST" id="form_resume_sale">
    <div class="d-flex justify-content-center">
        <button type="submit" name="btn-resume-sale" class="btn btn-outline-primary btn-lg">Resumo da venda</button>
    </div>
</form>

    <br>
    <form id="form_save_sale" method="POST" enctype="multipart/form-data" onsubmit="showAlert(event)">
        <div id="resumoVenda" class="mt-3"></div>
    </form>
    <br>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">

function handleDatalist(inputId, datalistId) {
    const input = document.getElementById(inputId);
    const datalist = document.getElementById(datalistId);
    const allOptions = datalist.innerHTML;  // Guarda todas as opções geradas pelo Jinja

    // Inicialmente remove todas as opções do datalist
    datalist.innerHTML = '';

    // Quando o usuário começar a digitar
    input.addEventListener('input', function() {
        // Adiciona as opções novamente quando houver entrada
        if (input.value.length > 0) {
            datalist.innerHTML = allOptions;
        } else {
            // Remove as opções se o campo de entrada estiver vazio
            datalist.innerHTML = '';
        }
    });
}

// Aplicar a função para o primeiro input e datalist
    handleDatalist('inputproduto', 'options');

    // Aplicar a função para o segundo input e datalist
    handleDatalist('inputnome', 'options_clientes');



    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9,]/;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    window.onload = function(){
        const form_product = document.getElementById("form_product");
        const main_list = document.getElementById("main_list");

        // Função para adicionar produtos
        form_product.onsubmit = function(event){
            event.preventDefault();
            document.getElementById("resumoVenda").style.display = "none";
            var quantidade = parseInt($("#inputquantidade").val(), 10);
            let valorunitario_replace = $("#inputvalorunitario").val().replace(",", ".");
            var valorunitario = parseFloat(valorunitario_replace);
            console.log(quantidade)
            console.log(valorunitario)
            console.log(valorunitario * quantidade)
            $.ajax({
                type: 'POST',
                url: '/add_product',
                data: {
                    idproduto: $("#idproduto").val(),
                    produto: $("#inputproduto").val(),
                    quantidade: $("#inputquantidade").val(),
                    valorunitario: $("#inputvalorunitario").val(),
                    total_unitario: quantidade * valorunitario
                    
                }
            }).then(() => {
                updateList();
                // Atualiza a lista após adicionar
            }).then(() =>{
                document.getElementById("inputproduto").value = ''
                document.getElementById("inputquantidade").value = ''
                document.getElementById("inputvalorunitario").value = ''
                document.getElementById("idproduto").value = ''
            });
        }

        // Função para remover produtos com AJAX
        main_list.addEventListener('click', function(event) {
            if (event.target && event.target.matches("button.btn-danger")) {
                event.preventDefault();
                const index = event.target.getAttribute('data-index'); // Pegando o índice
                $.ajax({
                    type: 'POST',
                    url: `/remove/${index}`,
                }).then(() => {
                    updateList();
                    // Atualiza a lista após remoção
                });
            }
        });

        // Função para atualizar a lista de produtos
        function updateList() {
            fetch("/list-products", {
                method: "GET"
            }).then(response => {
                return response.text();
            }).then(html => {
                main_list.innerHTML = html;
            });
        }
    }

    form_resume_sale.onsubmit = function(event) {
    event.preventDefault();

    $.ajax({
    type: 'POST',
    url: '/preview-resume-sale',
    data: {                  
        valortaxa: $("#inputtaxaentrega").val(),
        valordesconto: $("#inputdesconto").val(),
        data_venda: $("#inputdatavenda").val(),
        nome_cliente: $("#inputnome").val(),
        forma_pagamento: $("#inputmetodopagamento").val(),
        endereco_entrega: $("#inputenderecoentrega").val(),
        id_cliente: $("#idcliente").val(),
        cpf_cnpj: $("#inputcpfcnpj").val(),
        telefone: $("#inputtelefone").val(),
        observacoes: $("#inputobservacoes").val(),
        data_entrega: $("#inputdataentrega").val(),
        nvenda: $("#inputnvenda").val()
    },
    success: function(response) {
        console.log(response);
        // Enviar dados via POST para a nova página
        $.ajax({
        type: 'POST',
        url: '/show-resume-sale',
        data: response,        
        success: function() {
            // Redirecionar após o sucesso
            window.location.assign('/show-resume-sale');
        },
        error: function(jqXHR, textStatus, errorThrown) {
            console.log("Error details:", jqXHR, textStatus, errorThrown);
        }
        });
    },
    error: function(jqXHR, textStatus, errorThrown) {
        console.log("Error details:", jqXHR, textStatus, errorThrown);
    }
    });
}

    document.addEventListener('DOMContentLoaded', function() {
        // Faz a requisição POST para limpar a lista de produtos quando a página for recarregada
        fetch('/clear_products', {
            method: 'POST'            
        })
    })
    

    function buscarCliente() {
    var nome = document.getElementById("inputnome").value;  
    var cpf = document.getElementById("inputcpfcnpj").value;    
    
    if (nome.length > 0){
        fetch(`/buscar_cliente/${nome}`)
                .then(response => response.json())
                .then(data => {
                if (data.success) {
                    console.log(data.idcliente)
                    document.getElementById("idcliente").value = data.idcliente;
                    document.getElementById("inputcpfcnpj").value = data.cpfcnpj;
                    document.getElementById("inputtelefone").value = data.telefone;
                } else {
                    console.log("Cliente não encontrado!");
                }
                })
                .catch(error => console.error('Erro:', error));
            }
    }


    function buscarValorUnitario() {
    var nome_produto = document.getElementById("inputproduto").value;    
    
    fetch(`/buscar_valor_unitario/${nome_produto}`)
        .then(response => response.json())
        .then(data => {
        if (data.success) {
            document.getElementById("inputvalorunitario").value = data.valor_unitario;
            document.getElementById("idproduto").value = data.id_produto;
            console.log(data.id_produto)
        } else {
            console.log("Produto não encontrado!");
        }
        })
        .catch(error => console.error('Erro:', error));
    }


    document.getElementById("inputtaxaentrega").oninput = function() {
    document.getElementById("resumoVenda").style.display = "none";
    };

    document.getElementById("inputdesconto").oninput = function() {
    document.getElementById("resumoVenda").style.display = "none";
    };

    function showAlert() {
        Swal.fire({
        position: "center",
        icon: "success",
        title: "Venda finalizada com sucesso!",
        showConfirmButton: false,
        timer: 2000
});
};
</script>

{% endblock conteudo %}
