{% extends 'base.html' %}
{% block conteudo %}
<style>

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.header, .footer {
    text-align: center;
    margin-bottom: 20px;
}

.header {
    padding: 10px 0;
    border-bottom: 2px solid #333;
}

.info-section {
    margin-bottom: 20px;
}

.info-section p {
    margin: 5px 0;
}

.info-label {
    font-weight: bold;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #f0f0f0;
}

.totals {
    margin-top: 20px;
    text-align: right;
}

.totals p {
    margin: 5px 0;
    font-size: 1.1rem;
}

.highlight {
    font-weight: bold;
    font-size: 1.2rem;
    color: #4CAF50;
}

img{
        margin-top: -40px;
        width: 150px;
        height: 100px;
        margin-bottom: -10px;
        }
</style>
</head>
<body>

    <div class="container" id="container">
        <div class="header">
            <div class="title"> 
                <img src="../static/marleneecamilo.jpg" alt="">
                <label class="d-flex justify-content-center" id="labelcancelada" style="font-size: 30px; color: red; display: none; font-weight: bold;"></label>
            </div>
            <p><strong>Número da Venda:</strong> #{{nvenda}}</p>
        </div>

        <!-- Informações do Cliente e Pagamento -->
        <div class="info-section">
            <h2>Informações da Venda</h2>
            <p><span class="info-label">Data da venda:</span> {{data_venda}}</p>
            <p><span class="info-label">Cliente:</span> {{nome_cliente}}</p>
            <p><span class="info-label">Forma de Pagamento:</span> {{forma_pagamento}}</p>
            <p><span class="info-label">Endereço de Entrega:</span> {{endereco_entrega}}</p>
            <p><span class="info-label">Observações:</span> {{observacoes}}</p>
        </div>

        <!-- Tabela de Produtos -->
        <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Valor Unitário</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{produto[1]}}</td>
                    <td>{{produto[2]}}</td>
                    <td>R$ {{produto[3]}}</td>
                    <td>R$ {{produto[4]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Totais -->
        <div class="totals">
            <p><span class="info-label">Subtotal de Produtos:</span> R$ {{total_prods}}</p>
            <p ><span class="info-label" style="color: red;">Desconto:</span> R$ -{{desconto}}</p>
            <p ><span class="info-label" style="color: green;">Taxa de Entrega:</span> R$ {{taxaentrega}}</p>
            <hr>
            <p class="highlight"><span class="info-label">Total Final:</span> R$ {{total_venda}}</p>
        </div>

        
        <!-- Rodapé da Nota -->
        <form action="{{url_for('salvar_venda')}}" method="POST" id="form" autocomplete="off" enctype="multipart/form-data" onsubmit="showAlert(event)">
            <input type="hidden" name="data_venda" id="data_venda" value="{{data_venda}}">
            <input type="hidden" name="nome" id="nome" value="{{nome_cliente}}">
            <input type="hidden" name="metodo_pagamento" id="metodo_pagamento" value="{{forma_pagamento}}">
            <input type="hidden" name="endereco_entrega" id="endereco_entrega" value="{{endereco_entrega}}">
            <input type="hidden" name="total_prods" id="total_prods" value="{{total_prods}}">
            <input type="hidden" name="taxa_entrega" id="taxa_entrega" value="{{taxaentrega}}">
            <input type="hidden" name="desconto" id="desconto" value="{{desconto}}">
            <input type="hidden" name="total_venda" id="total_venda" value="{{total_venda}}">
            <input type="hidden" name="idcliente" id="idcliente" value="{{id_cliente}}">
            <input type="hidden" name="cpfcnpj" id="cpfcnpj" value="{{cpf_cnpj}}">
            <input type="hidden" name="telefone" id="telefone" value="{{telefone}}">
            <input type="hidden" name="observacoes" id="observacoes" value="{{observacoes}}">
            <input type="hidden" name="data_entrega" id="data_entrega" value="{{data_entrega}}">
            
            <div class="d-flex justify-content-center" style="margin: auto;">
                <button type="submit" name="add-venda" id="addvenda" class="btn btn-success btn-lg" style="width: 250px; margin-bottom: 10px;">Finalizar Venda</button>
            </div>            
        </form>


        <br><br>
        <div class="row" id="assinaturas" style="display: none;">
            <div class="form-group col-md-6">
                <div id="assinatura_comprador" style="float: left; margin-left: 80px;">
                    <p>___________________________</p>
                    <p>Assinatura do Comprador</p>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div id="assinatura_vendedor" style="float: right; margin-right: 80px;">
                    <p>___________________________</p>
                    <p>Assinatura do Vendedor</p>
                </div>
            </div>
        </div>

    </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('form').onsubmit = function(event) {
    event.preventDefault(); // Previne o envio imediato do formulário    
    const botaovenda = document.getElementById('addvenda');
    botaovenda.style.display = 'none'
    Swal.fire({
        position: "center",
        icon: "success",
        title: "Venda finalizada",
        showConfirmButton: false,
        timer: 3500
        });
    ExportarPdf();
    // Atrasar o envio em 2 segundos (2000 milissegundos)
    setTimeout(function() {
        document.getElementById('form').submit(); // Enviar o formulário após o atraso
    }, 3500); // 2000 milissegundos = 2 segundos
}

function ExportarPdf() {
        const assinaturas = document.getElementById('assinaturas');
        assinaturas.style.display = 'flex';
        // Elemento a ser exportado
        var element = document.getElementById('container');

        // Configurações do html2pdf
        var opt = {
            margin: 1,
            filename: 'ResumoVenda-' + "{{nvenda}}" + '.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        // Gera o PDF
        html2pdf().set(opt).from(element).save()
    }; // O evento de clique será vinculado apenas uma vez

</script>
</body>
</html>

{% endblock conteudo %}