<p class="lead text-center" style="font-weight: bold;" >RESUMO DA VENDA</p>
        <div class="row">            
            <label for="lbldesconto" id="lbldesconto" style="margin-left: 10px; font-weight: bold;">DESCONTO TOTAL: R$ {{desconto}}</label>
            <label for="lbltaxaentrega" id="lbltaxaentrega" style="margin-left: 10px;font-weight: bold;">TAXA DE ENTREGA: R$ {{taxaentrega}}</label>
            <label for="lvlvalorprodutos" id="lbltotalprodutos" style="margin-left: 10px;font-weight: bold;">VALOR TOTAL DE PRODUTOS: R$ {{total_prods}}</label>
            <hr style="margin-left: 20px; width: 480px; margin-bottom: 10px;font-weight: bold;">
            <label for="lbltotalvenda" id="lbltotalvenda" style="margin-left: 10px;font-weight: bold;">TOTAL DA VENDA: R$ {{total_venda}}</label>
        </div>