{% extends 'base.html' %}

{% block conteudo %}


<style>
    .relatorio-card {
        background-color: #f8f9fa; /* Fundo claro */
        border: 1px solid #dee2e6; /* Borda suave */
        border-radius: 10px; /* Cantos arredondados */
        padding: 20px; /* Espaçamento interno */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
        margin-top: 60px; /* Margem ao redor do cartão */
        width: 400px;
        height: 350px;
    }
    .titulo {
        font-size: 1.5rem; /* Tamanho do título */
        font-weight: bold; /* Negrito */
    }
    .valor {
        font-size: 1.25rem; /* Tamanho do valor */
        color: green; /* Cor do valor */
    }
    .info {
        font-size: 1rem; /* Tamanho da informação */
        color: #6c757d; /* Cor da informação */
    }
    .my-4{
        width: 890px;
    }
</style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="relatorio-card">
            <h4>VENDAS POR PERÍODO</h4>
            <p class="info">Período Consultado: <strong>{{data_inicio}} a {{data_fim}}</strong></p>
            <p class="info">Total de Vendas: <span class="valor">R$ {{total_vendas}}</span></p>
            <p class="info">Total de Produtos Vendidos: <span class="valor">{{total_produtos}}</span></p>
            <p class="info">Ticket Médio: <span class="valor">R$ {{ticket_medio}}</span></p>
            <p class="info">Total de Transações: <span class="valor">{{total_transacoes}}</span></p>
        </div>
        <div class="my-4">
            {{ grafico_html|safe }}
        </div>
    </div>
</div>


<br>

<div class="container-vendas">        
    <div class="row">         
        <div class="table-container"> 
            <table class="table table-striped" id="tabela">
                <thead>
                    <tr>
                    <th scope="col" class="coluna">Código Venda</th>
                    <th scope="col">Data da venda</th>
                    <th scope="col">Forma Pagamento</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Total da venda</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venda in vendas_periodo %}
                    <tr>
                        <th scope="row">{{venda[0]}}</th>
                        <td>{{venda[1]}}</td>
                        <td>{{venda[2]}}</td>
                        <td>{{venda[3]}}</td>
                        <td>{{venda[4]}}</td>
                        <td>
                            <form action="{{url_for('visualizar_venda_main')}}" method="POST" autocomplete="off" enctype="multipart/form-data" style="display:inline-block;">
                                <input type="hidden" name="codigo" id="codigo" value="{{ venda[0] }}">
                                <button type="submit" class="btn btn-info">Visualizar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br><br>

<style>
    .table-container {
        max-height: 700px; /* Ajuste conforme necessário */
        overflow-y: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    
    th, td {
        text-align: center; /* Alinha o texto horizontalmente ao centro */
    }
    
    tbody tr {
      vertical-align: middle; /* Alinha o texto verticalmente ao centro */
    }
    </style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock conteudo %}